/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


* {
  font-family: VT323, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    position: relative;
    height: 100vh;
    background-image: url(./images/bigcitylife-agent-smax.gif);
    background-size: cover;
    background-position: center;
}


main {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

dialog {
    max-width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

img {
    margin: 0 auto;
}

#app-backdrop {
    background: rgba(255, 255, 255, 0.7);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game::backdrop {
    background: linear-gradient(160deg, pink, cyan);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.icon-action {
  width: 7rem;
  height: auto;
  margin: 1rem auto;
}

.action-btn {
  margin: .5rem;
  height: 12rem;
}

.container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.score-cards {
  display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem 3rem;
}

#result-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8rem;
  width: 90%;
}

/* .result-text {

} */
